/* line 17, ../../../../../.rvm/gems/ruby-1.9.3-p194-perf/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../.rvm/gems/ruby-1.9.3-p194-perf/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../.rvm/gems/ruby-1.9.3-p194-perf/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../.rvm/gems/ruby-1.9.3-p194-perf/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../.rvm/gems/ruby-1.9.3-p194-perf/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../.rvm/gems/ruby-1.9.3-p194-perf/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../.rvm/gems/ruby-1.9.3-p194-perf/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../.rvm/gems/ruby-1.9.3-p194-perf/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../.rvm/gems/ruby-1.9.3-p194-perf/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* line 15, all.css.scss */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 21, all.css.scss */
html, body {
  height: 100%; }

/* line 27, all.css.scss */
body {
  position: relative;
  background: -webkit-linear-gradient(top left, #0a0e0f, #33444d); }

/* line 32, all.css.scss */
.clock {
  position: absolute;
  top: 40%;
  left: 50%;
  margin: -100px;
  width: 200px;
  height: 200px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background: -webkit-linear-gradient(#fff3e0, navajowhite);
  border: 2px solid goldenrod;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 2px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5), 0 2px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5), 0 2px 5px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5), 0 2px 5px rgba(0, 0, 0, 0.2); }
  /* line 9, all.css.scss */
  .clock > *:nth-child(1) {
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg); }
  /* line 9, all.css.scss */
  .clock > *:nth-child(2) {
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    transform: rotate(60deg); }
  /* line 9, all.css.scss */
  .clock > *:nth-child(3) {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg); }
  /* line 9, all.css.scss */
  .clock > *:nth-child(4) {
    -webkit-transform: rotate(120deg);
    -moz-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    -o-transform: rotate(120deg);
    transform: rotate(120deg); }
  /* line 9, all.css.scss */
  .clock > *:nth-child(5) {
    -webkit-transform: rotate(150deg);
    -moz-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    -o-transform: rotate(150deg);
    transform: rotate(150deg); }
  /* line 9, all.css.scss */
  .clock > *:nth-child(6) {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); }
  /* line 9, all.css.scss */
  .clock > *:nth-child(7) {
    -webkit-transform: rotate(210deg);
    -moz-transform: rotate(210deg);
    -ms-transform: rotate(210deg);
    -o-transform: rotate(210deg);
    transform: rotate(210deg); }
  /* line 9, all.css.scss */
  .clock > *:nth-child(8) {
    -webkit-transform: rotate(240deg);
    -moz-transform: rotate(240deg);
    -ms-transform: rotate(240deg);
    -o-transform: rotate(240deg);
    transform: rotate(240deg); }
  /* line 9, all.css.scss */
  .clock > *:nth-child(9) {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg); }
  /* line 9, all.css.scss */
  .clock > *:nth-child(10) {
    -webkit-transform: rotate(300deg);
    -moz-transform: rotate(300deg);
    -ms-transform: rotate(300deg);
    -o-transform: rotate(300deg);
    transform: rotate(300deg); }
  /* line 9, all.css.scss */
  .clock > *:nth-child(11) {
    -webkit-transform: rotate(330deg);
    -moz-transform: rotate(330deg);
    -ms-transform: rotate(330deg);
    -o-transform: rotate(330deg);
    transform: rotate(330deg); }
  /* line 9, all.css.scss */
  .clock > *:nth-child(12) {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); }
  /* line 46, all.css.scss */
  .clock .number {
    position: absolute;
    top: 0;
    left: 50%;
    width: 16.66667px;
    height: 100px;
    margin: 2px -8px;
    text-align: center;
    font: bold 24px/1 "Helvetica Neue", sans-serif;
    -webkit-transform-origin: bottom center;
    -webkit-font-smoothing: antialiased;
    color: goldenrod;
    text-shadow: 0 1px lightyellow; }
  /* line 61, all.css.scss */
  .clock:before {
    content: '\2022';
    width: 20px;
    height: 20px;
    font: bold 20px/1 "sans-serif";
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    margin: -10px;
    color: #ad831a; }
  /* line 74, all.css.scss */
  .clock:after {
    content: '';
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: -webkit-linear-gradient(top right, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 50%);
    position: absolute;
    border-radius: 50%; }

/* line 86, all.css.scss */
.buttons {
  position: absolute;
  left: 50%;
  width: 180px;
  height: 30px;
  bottom: 10%;
  margin: -15px -90px;
  text-align: center;
  border-radius: 10px;
  background: -webkit-linear-gradient(whitesmoke, lightgrey 55%);
  border: 1px solid lightgrey;
  font: 400 15px/28px "Droid Sans";
  -webkit-font-smoothing: antialiased;
  box-shadow: inset 0 1px snow, inset 0 -1px #cccccc;
  letter-spacing: -1px; }
  /* line 102, all.css.scss */
  .buttons a {
    display: block;
    float: left;
    width: 50%;
    text-decoration: none;
    color: darkslategrey;
    text-shadow: 0 1px whitesmoke; }
    /* line 110, all.css.scss */
    .buttons a:first-child {
      -moz-border-radius-topleft: 8px;
      -webkit-border-top-left-radius: 8px;
      border-top-left-radius: 8px;
      -moz-border-radius-bottomleft: 8px;
      -webkit-border-bottom-left-radius: 8px;
      border-bottom-left-radius: 8px; }
    /* line 111, all.css.scss */
    .buttons a:last-child {
      -moz-border-radius-topright: 8px;
      -webkit-border-top-right-radius: 8px;
      border-top-right-radius: 8px;
      -moz-border-radius-bottomright: 8px;
      -webkit-border-bottom-right-radius: 8px;
      border-bottom-right-radius: 8px; }
      /* line 113, all.css.scss */
      .buttons a:last-child.active {
        margin: -1px -1px -1px 1px; }
    /* line 116, all.css.scss */
    .buttons a.active {
      background: -webkit-linear-gradient(darkslategrey, slategrey);
      height: 30px;
      margin: -1px;
      border: 1px solid darkslategray;
      box-shadow: inset 0 1px #444;
      color: lightslategray;
      text-shadow: 0 1px darkslategray; }

/* line 129, all.css.scss */
.hand {
  position: absolute;
  background: black;
  height: 50%;
  left: 50%;
  background: #ad831a;
  -webkit-transform-origin: bottom center; }

/* line 138, all.css.scss */
.hour-hand, .minute-hand {
  width: 4px;
  margin-left: -2px; }
  /* line 142, all.css.scss */
  .hour-hand:before, .minute-hand:before {
    content: '';
    border: 2px solid transparent;
    position: absolute;
    top: -4px;
    border-bottom-color: #ad831a; }

/* line 151, all.css.scss */
.hour-hand {
  height: 30%;
  top: 20%; }

/* line 156, all.css.scss */
.minute-hand {
  height: 40%;
  top: 10%; }

/* line 161, all.css.scss */
.second-hand {
  margin-left: -0.5px;
  width: 1px;
  top: 5%;
  height: 45%; }

/* line 170, all.css.scss */
.digital.clock {
  border-radius: 20px;
  width: 300px;
  height: 100px;
  margin: -50px -150px;
  background: -webkit-linear-gradient(slategrey, darkslategrey);
  border-color: lightgray;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.75); }
  /* line 179, all.css.scss */
  .digital.clock .number, .digital.clock:before {
    display: none; }
  /* line 181, all.css.scss */
  .digital.clock:after {
    border-radius: 18px;
    background: -webkit-linear-gradient(top right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.05) 50%, rgba(255, 255, 255, 0) 50%); }
  /* line 186, all.css.scss */
  .digital.clock .hand {
    width: 33.333%;
    -webkit-transform: none !important;
    position: relative;
    top: 0;
    left: 0;
    float: left;
    margin: 0;
    height: 100px;
    font: normal 70px/100px "Helvetica Neue", sans-serif;
    text-align: center;
    color: darkslategrey;
    background: transparent;
    text-shadow: 0 -1px #223344; }
    /* line 200, all.css.scss */
    .digital.clock .hand:before {
      content: attr(data-time);
      border: 0;
      margin: 0;
      position: static; }
  /* line 209, all.css.scss */
  .digital.clock .hour-hand:after, .digital.clock .minute-hand:after {
    content: ':';
    font: normal 50px/100px "Helvetica Neue", sans-serif;
    position: absolute;
    top: -5px;
    right: -6.5px; }
