---
title: The Clock
---

.clock
  - (1..12).each do |num|
    .number{class: "number-#{num}"}= num
  .hand.hour-hand
  .hand.minute-hand
  .hand.second-hand

.buttons
  = link_to 'analog', '#analog', class: 'active'
  = link_to 'digital', '#digital'
